
<div class="footer_bg">
 <!-- contact section -->
 <section class="contact_section ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="heading_container">
            <h2 class="">
              Get In Touch
            </h2>
          </div>
          <form action="">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="text" placeholder="Phone Number" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex  mt-4 ">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->