{% load static %}
<!-- teacher section -->
<section class="teacher_section ">
    <div class="container">
      <div class="heading_container">
        <h2 class="">
          Our Teachers
        </h2>
      </div>
      <div class="teacher_container layout_padding2">
        <div class="row">
          {% for teacher in teachers  %}
          <div class="col-md-3 col-sm-6 " >
            <div class="box">
              <div class="img-box p-0" >
                <img  src="{{teacher.image.url}}" alt="Card image cap">
              </div>
              <div class="detail-box">
                <p>
                  <h2>
                    <code style="color: steelblue">{{teacher.first_name}} {{teacher.last_name}}</code>
                  </h2><hr>
                  <h5>
                    {{teacher.speciality}}
                  </h5>
                  <h5>
                    {{teacher.phone_teacher}}
                  </h5>
                  <h5>
                    {{teacher.email_teacher}}
                  </h5>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div> 
      <div class="btn-box">
        <a href="{% url 'teacher' %}">
          See More
        </a>
      </div>
    </div>
  </section>
  <!-- teacher section -->